APP_NAME='"Telos Net"'

NETWORK_CHAIN_ID='"1eaa0824707c8c16bd25145493bf062aecddfeb56c736f6ba6397f3195f33c9f"'
NETWORK_HOST='"test.telos.kitchen"'
NETWORK_PORT='443'
NETWORK_PROTOCOL='"https"'

WEBSERVICES_URL='"https://api-dev.telos.net"'
WEBSERVICES_API_KEY='"XXX"'

BLOCKCHAIN_EXPLORER='"https://telos-test.bloks.io"'
GOOGLE_ANALYTICS='"UA-xxxx"'

TELOS_ORIGIN='"http://localhost:3030"'
IMGUR_CLIENT_ID='"b6f46df9d1da9d9"'