h1, h2, h3, h4, h5, h6, .text-h1, .text-h2, .text-h3, .text-h4, .text-h5, .text-h6
  font-family: "neue-haas-grotesk-text", sans-serif
.open-sans
  font-family: open sans,arial,sans-serif

@media (min-width: 0)
  .q-pb-xs-sm
    padding-bottom: 8px;
  .justify-xs-around
    justify-content: space-around

@media (min-width: 1024px)
  .q-pr-md-sm
    padding-right: 8px
  .justify-md-between
    justify-content: space-between

